<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ CreateDay : 18. 10. 18 오전 12:01
  ~ fileName : context-modelMapper.xml
  ~ CreateName : Eido
  ~ Create by Amazingpeoples.io
  -->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<bean id="modelMapper" class="org.modelmapper.ModelMapper"/>

</beans>